## Data Import - Working with Web APIs and JSON (Movies Dataset)

## Importing Data from JSON files

In [1]:
import pandas as pd
import json

In [2]:
with open("blockbusters.json") as f:
    data = json.load(f)

In [3]:
data

[{'title': 'Avengers: Endgame',
  'id': 299534,
  'revenue': 2797800564,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 181},
 {'title': 'Avatar',
  'id': 19995,
  'revenue': 2787965087,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 87096,
   'name': 'Avatar Collection',
   'poster_path': '/nslJVsO58Etqkk17oXMuVK4gNOF.jpg',
   'backdrop_path': '/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg'},
  'runtime': 162},
 {'title': 'Star Wars: The Force Awakens',
  'id': 140607,
  'revenue': 2068223624,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 14, 'name': 'Fantasy'}],
  'belongs_to_collection': {'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
   'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
  'runtime': 136},
 {'title': 'Avengers: Infinity War',
  'id': 299536,
  'revenue': 2046239637,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 28, 'name': 'Action'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 149},
 {'title': 'Titanic',
  'id': 597,
  'revenue': 1845034188,
  'genres': [{'id': 18, 'name': 'Drama'},
   {'id': 10749, 'name': 'Romance'},
   {'id': 53, 'name': 'Thriller'}],
  'belongs_to_collection': None,
  'runtime': 194},
 {'title': 'Jurassic World',
  'id': 135397,
  'revenue': 1671713208,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 53, 'name': 'Thriller'}],
  'belongs_to_collection': {'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
   'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'},
  'runtime': 124},
 {'title': 'The Lion King',
  'id': 420818,
  'revenue': 1656943394,
  'genres': [{'id': 12, 'name': 'Adventure'}, {'id': 10751, 'name': 'Family'}],
  'belongs_to_collection': None,
  'runtime': 118},
 {'title': 'The Avengers',
  'id': 24428,
  'revenue': 1519557910,
  'genres': [{'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 143},
 {'title': 'Furious 7',
  'id': 168259,
  'revenue': 1506249360,
  'genres': [{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}],
  'belongs_to_collection': {'id': 9485,
   'name': 'The Fast and the Furious Collection',
   'poster_path': '/uv63yAGg1zETAs1XQsOQpava87l.jpg',
   'backdrop_path': '/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg'},
  'runtime': 137},
 {'title': 'Avengers: Age of Ultron',
  'id': 99861,
  'revenue': 1405403694,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 141},
 {'title': 'Black Panther',
  'id': 284054,
  'revenue': 1346739107,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 529892,
   'name': 'Black Panther Collection',
   'poster_path': '/9ZSPIsxI3TZDgfg0Jzk0RZl4INg.jpg',
   'backdrop_path': '/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg'},
  'runtime': 134},
 {'title': 'Harry Potter and the Deathly Hallows: Part 2',
  'id': 12445,
  'revenue': 1341511219,
  'genres': [{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'name': 'Adventure'}],
  'belongs_to_collection': {'id': 1241,
   'name': 'Harry Potter Collection',
   'poster_path': '/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg',
   'backdrop_path': '/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg'},
  'runtime': 130},
 {'title': 'Star Wars: The Last Jedi',
  'id': 181808,
  'revenue': 1332539889,
  'genres': [{'id': 14, 'name': 'Fantasy'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  'belongs_to_collection': {'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
   'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
  'runtime': 152},
 {'title': 'Frozen II',
  'id': 330457,
  'revenue': 1330764959,
  'genres': [{'id': 16, 'name': 'Animation'},
   {'id': 10751, 'name': 'Family'},
   {'id': 12, 'name': 'Adventure'}],
  'belongs_to_collection': {'id': 386382,
   'name': 'Frozen Collection',
   'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg',
   'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg'},
  'runtime': 104},
 {'title': 'Jurassic World: Fallen Kingdom',
  'id': 351286,
  'revenue': 1303459585,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
   'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'},
  'runtime': 129},
 {'title': 'Frozen',
  'id': 109445,
  'revenue': 1274219009,
  'genres': [{'id': 16, 'name': 'Animation'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 10751, 'name': 'Family'}],
  'belongs_to_collection': {'id': 386382,
   'name': 'Frozen Collection',
   'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg',
   'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg'},
  'runtime': 102},
 {'title': 'Beauty and the Beast',
  'id': 321612,
  'revenue': 1263521126,
  'genres': [{'id': 10751, 'name': 'Family'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 10749, 'name': 'Romance'}],
  'belongs_to_collection': None,
  'runtime': 129},
 {'title': 'Incredibles 2',
  'id': 260513,
  'revenue': 1241891456,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 16, 'name': 'Animation'},
   {'id': 10751, 'name': 'Family'}],
  'belongs_to_collection': {'id': 468222,
   'name': 'The Incredibles Collection',
   'poster_path': '/l7GqbzkJwowYRIXAtUz2iCPi64a.jpg',
   'backdrop_path': '/9eDW2dVhnzPS2HvaRdK2OlAGaLq.jpg'},
  'runtime': 118}]

In [4]:
type(data)

list

In [5]:
len(data)

18

In [6]:
data[0]

{'title': 'Avengers: Endgame',
 'id': 299534,
 'revenue': 2797800564,
 'genres': [{'id': 12, 'name': 'Adventure'},
  {'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'}],
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'runtime': 181}

In [7]:
df = pd.DataFrame(data)
df

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",None,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [8]:
df = pd.read_json("blockbusters.json", orient = "record")
df

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",None,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  18 non-null     object
 1   id                     18 non-null     int64
 2   revenue                18 non-null     int64
 3   genres                 18 non-null     object
 4   belongs_to_collection  15 non-null     object
 5   runtime                18 non-null     int64
dtypes: int64(3), object(3)
memory usage: 992.0+ bytes

In [10]:
df.genres[0]

[{'id': 12, 'name': 'Adventure'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 28, 'name': 'Action'}]

In [11]:
df.belongs_to_collection[0]

{'id': 86311,
 'name': 'The Avengers Collection',
 'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
 'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'}

In [12]:
pd.json_normalize(data = data, sep = "_")

,title,id,revenue,genres,runtime,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path,belongs_to_collection
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",181,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",162,87096.0,Avatar Collection,/nslJVsO58Etqkk17oXMuVK4gNOF.jpg,/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg,NaN
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",136,10.0,Star Wars Collection,/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",149,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",194,NaN,NaN,NaN,NaN,NaN
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",124,328.0,Jurassic Park Collection,/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg,/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg,NaN
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",118,NaN,NaN,NaN,NaN,NaN
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",143,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",137,9485.0,The Fast and the Furious Collection,/uv63yAGg1zETAs1XQsOQpava87l.jpg,/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg,NaN
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",134,529892.0,Black Panther Collection,/9ZSPIsxI3TZDgfg0Jzk0RZl4INg.jpg,/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg,NaN
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",130,1241.0,Harry Potter Collection,/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg,/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg,NaN
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",152,10.0,Star Wars Collection,/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",104,386382.0,Frozen Collection,/rpoXnE9UzCbjmINhxIi8bZF557B.jpg,/vZiqhw6oFoMlHSneIdVip9rRou2.jpg,NaN
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",129,328.0,Jurassic Park Collection,/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg,/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg,NaN
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",102,386382.0,Frozen Collection,/rpoXnE9UzCbjmINhxIi8bZF557B.jpg,/vZiqhw6oFoMlHSneIdVip9rRou2.jpg,NaN
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",129,NaN,NaN,NaN,NaN,NaN
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",118,468222.0,The Incredibles Collection,/l7GqbzkJwowYRIXAtUz2iCPi64a.jpg,/9eDW2dVhnzPS2HvaRdK2OlAGaLq.jpg,NaN

In [13]:
pd.json_normalize(data = data, sep = "_").genres[0]

[{'id': 12, 'name': 'Adventure'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 28, 'name': 'Action'}]

In [14]:
pd.json_normalize(data = data, record_path = "genres", meta = ["title", "id"],
                  record_prefix = "genre_")

,genre_id,genre_name,title,id
0,12,Adventure,Avengers: Endgame,299534
1,878,Science Fiction,Avengers: Endgame,299534
2,28,Action,Avengers: Endgame,299534
3,28,Action,Avatar,19995
4,12,Adventure,Avatar,19995
5,14,Fantasy,Avatar,19995
6,878,Science Fiction,Avatar,19995
7,28,Action,Star Wars: The Force Awakens,140607
8,12,Adventure,Star Wars: The Force Awakens,140607
9,878,Science Fiction,Star Wars: The Force Awakens,140607
10,14,Fantasy,Star Wars: The Force Awakens,140607
11,12,Adventure,Avengers: Infinity War,299536
12,28,Action,Avengers: Infinity War,299536
13,878,Science Fiction,Avengers: Infinity War,299536
14,18,Drama,Titanic,597
15,10749,Romance,Titanic,597
16,53,Thriller,Titanic,597
17,28,Action,Jurassic World,135397
18,12,Adventure,Jurassic World,135397
19,878,Science Fiction,Jurassic World,135397
20,53,Thriller,Jurassic World,135397
21,12,Adventure,The Lion King,420818
22,10751,Family,The Lion King,420818
23,878,Science Fiction,The Avengers,24428
24,28,Action,The Avengers,24428
25,12,Adventure,The Avengers,24428
26,28,Action,Furious 7,168259
27,53,Thriller,Furious 7,168259
28,28,Action,Avengers: Age of Ultron,99861
29,12,Adventure,Avengers: Age of Ultron,99861
30,878,Science Fiction,Avengers: Age of Ultron,99861
31,28,Action,Black Panther,284054
32,12,Adventure,Black Panther,284054
33,14,Fantasy,Black Panther,284054
34,878,Science Fiction,Black Panther,284054
35,14,Fantasy,Harry Potter and the Deathly Hallows: Part 2,12445
36,12,Adventure,Harry Potter and the Deathly Hallows: Part 2,12445
37,14,Fantasy,Star Wars: The Last Jedi,181808
38,12,Adventure,Star Wars: The Last Jedi,181808
39,878,Science Fiction,Star Wars: The Last Jedi,181808
40,28,Action,Star Wars: The Last Jedi,181808
41,16,Animation,Frozen II,330457
42,10751,Family,Frozen II,330457
43,12,Adventure,Frozen II,330457
44,28,Action,Jurassic World: Fallen Kingdom,351286
45,12,Adventure,Jurassic World: Fallen Kingdom,351286
46,878,Science Fiction,Jurassic World: Fallen Kingdom,351286
47,16,Animation,Frozen,109445
48,12,Adventure,Frozen,109445
49,10751,Family,Frozen,109445
50,10751,Family,Beauty and the Beast,321612
51,14,Fantasy,Beauty and the Beast,321612
52,10749,Romance,Beauty and the Beast,321612
53,28,Action,Incredibles 2,260513
54,12,Adventure,Incredibles 2,260513
55,16,Animation,Incredibles 2,260513
56,10751,Family,Incredibles 2,260513

## Working with APIs and JSON (Part 1)

In [15]:
api_key  = "api_key=213e65689cb3b77f0c46f74e74jklc896"

In [17]:
import pandas as pd
import requests
pd.options.display.max_columns = 30

In [18]:
movie_id = 140607

In [19]:
movie_api = "https://api.themoviedb.org/3/movie/{}?"
movie_api

'https://api.themoviedb.org/3/movie/{}?'

In [20]:
url = movie_api.format(movie_id) + api_key
url

'https://api.themoviedb.org/3/movie/140607?api_key=608e6f7bccb3b77f0c46f74e73adc525'

In [21]:
r = requests.get(url)
r

In [22]:
data = r.json()

In [23]:
data

{'adult': False,
 'backdrop_path': '/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg',
 'belongs_to_collection': {'id': 10,
  'name': 'Star Wars Collection',
  'poster_path': '/gq5Wi7i4SF3lo4HHkJasDV95xI9.jpg',
  'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
 'budget': 245000000,
 'genres': [{'id': 12, 'name': 'Adventure'},
  {'id': 28, 'name': 'Action'},
  {'id': 878, 'name': 'Science Fiction'},
  {'id': 14, 'name': 'Fantasy'}],
 'homepage': 'http://www.starwars.com/films/star-wars-episode-vii',
 'id': 140607,
 'imdb_id': 'tt2488496',
 'original_language': 'en',
 'original_title': 'Star Wars: The Force Awakens',
 'overview': 'Thirty years after defeating the Galactic Empire, Han Solo and his allies face a new threat from the evil Kylo Ren and his army of Stormtroopers.',
 'popularity': 63.835,
 'poster_path': '/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg',
 'production_companies': [{'id': 1,
   'logo_path': '/o86DbpburjxrqAzEDhXZcyE8pDb.png',
   'name': 'Lucasfilm Ltd.',
   'origin_country': 'US'},
  {'id': 11461,
   'logo_path': '/p9FoEt5shEKRWRKVIlvFaEmRnun.png',
   'name': 'Bad Robot',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2015-12-15',
 'revenue': 2068223624,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Every generation has a story.',
 'title': 'Star Wars: The Force Awakens',
 'video': False,
 'vote_average': 7.315,
 'vote_count': 17325}

In [24]:
type(data)

dict

In [ ]:
#pd.DataFrame(data)

In [25]:
pd.Series(data)

adult                                                                False
backdrop_path                             /8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg
belongs_to_collection    {'id': 10, 'name': 'Star Wars Collection', 'po...
budget                                                           245000000
genres                   [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
homepage                 http://www.starwars.com/films/star-wars-episod...
id                                                                  140607
imdb_id                                                          tt2488496
original_language                                                       en
original_title                                Star Wars: The Force Awakens
overview                 Thirty years after defeating the Galactic Empi...
popularity                                                          63.835
poster_path                               /wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg
production_companies     [{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    2015-12-15
revenue                                                         2068223624
runtime                                                                136
spoken_languages         [{'english_name': 'English', 'iso_639_1': 'en'...
status                                                            Released
tagline                                      Every generation has a story.
title                                         Star Wars: The Force Awakens
video                                                                False
vote_average                                                         7.315
vote_count                                                           17325
dtype: object

In [26]:
df = pd.Series(data).to_frame().T
df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,63.835,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.315,17325

In [27]:
pd.json_normalize(data, sep = "_")

,adult,backdrop_path,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path
0,False,/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg,245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,63.835,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.315,17325,10,Star Wars Collection,/gq5Wi7i4SF3lo4HHkJasDV95xI9.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg

In [28]:
pd.json_normalize(data = data, record_path = "genres", meta = "title")

    id             name                         title
0   12        Adventure  Star Wars: The Force Awakens
1   28           Action  Star Wars: The Force Awakens
2  878  Science Fiction  Star Wars: The Force Awakens
3   14          Fantasy  Star Wars: The Force Awakens

In [29]:
pd.json_normalize(data = data, record_path = "production_companies", meta = "title")

,id,logo_path,name,origin_country,title
0,1,/o86DbpburjxrqAzEDhXZcyE8pDb.png,Lucasfilm Ltd.,US,Star Wars: The Force Awakens
1,11461,/p9FoEt5shEKRWRKVIlvFaEmRnun.png,Bad Robot,US,Star Wars: The Force Awakens

## Working with APIs and JSON (Part 2)

In [30]:
import pandas as pd
import requests
pd.options.display.max_columns = 30

In [31]:
discover_api = "https://api.themoviedb.org/3/discover/movie?"

In [32]:
query = "&primary_release_date.gte=2020-01-01&primary_release_date.lte=2020-02-29"

In [33]:
url = discover_api+api_key+query

In [34]:
data = requests.get(url).json()

In [35]:
data

{'page': 1,
 'results': [{'adult': False,
   'backdrop_path': '/yy85YPsJEVxCy97A89cAwdsCUXa.jpg',
   'genre_ids': [18, 10749],
   'id': 677115,
   'original_language': 'ko',
   'original_title': '비뇨기과 여의사들 2',
   'overview': 'Jin Hee is a female urologist who runs a urology department with few patients. One day, a new nurse, Yeon-hee, comes in and works. However, she throws her her whole body in the treatment of patients with an unusual professional spirit. This fact is quickly rumored and patients flock in. Skilled female doctor Jin Hee also starts hot treatment to save the hospital...',
   'popularity': 150.882,
   'poster_path': '/uksxhYz0Xc7c5AIjoU205XXEVk8.jpg',
   'release_date': '2020-02-20',
   'title': 'Female Urologists 2',
   'video': False,
   'vote_average': 7.3,
   'vote_count': 5},
  {'adult': False,
   'backdrop_path': '/stmYfCUGd8Iy6kAMBr6AmWqx8Bq.jpg',
   'genre_ids': [28, 878, 35, 10751],
   'id': 454626,
   'original_language': 'en',
   'original_title': 'Sonic the Hedgehog',
   'overview': 'Powered with incredible speed, Sonic The Hedgehog embraces his new home on Earth. That is, until Sonic sparks the attention of super-uncool evil genius Dr. Robotnik. Now it’s super-villain vs. super-sonic in an all-out race across the globe to stop Robotnik from using Sonic’s unique power for world domination.',
   'popularity': 125.874,
   'poster_path': '/aQvJ5WPzZgYVDrxLX4R6cLJCEaQ.jpg',
   'release_date': '2020-02-12',
   'title': 'Sonic the Hedgehog',
   'video': False,
   'vote_average': 7.4,
   'vote_count': 8281},
  {'adult': False,
   'backdrop_path': '/ySHlkHDbXztjdjRJ0pZN7FXRnaW.jpg',
   'genre_ids': [16, 12, 28, 14],
   'id': 631132,
   'original_language': 'ja',
   'original_title': "ゴブリンスレイヤー -GOBLIN'S CROWN-",
   'overview': 'Goblin Slayer and his party head up to the snowy mountains in the north after receiving that request from the Sword Maiden to find any information on the Noble Fencer that disappeared after leaving to slay some goblins. A small village gets attacked, they encounter a mysterious chapel, and something about how these goblins are acting bothers the Goblin slayer.  In order to save the captured Noble Fencer, the Goblin Slayer and his party head to an ancient fortress covered in snow to face off with a powerful foe and a horde of goblins!',
   'popularity': 101.789,
   'poster_path': '/oyDaF4za9C9GxfYSyZUmj2aZGJT.jpg',
   'release_date': '2020-02-01',
   'title': "Goblin Slayer: Goblin's Crown",
   'video': False,
   'vote_average': 7.6,
   'vote_count': 171},
  {'adult': False,
   'backdrop_path': '/tmS9oXeMVs6njcxndDKsjJSF02H.jpg',
   'genre_ids': [18],
   'id': 552532,
   'original_language': 'en',
   'original_title': 'Charm City Kings',
   'overview': 'Mouse desperately wants to join The Midnight Clique, the infamous Baltimore dirt bike riders who rule the summertime streets. When Midnight’s leader, Blax, takes 14-year-old Mouse under his wing, Mouse soon finds himself torn between the straight-and-narrow and a road filled with fast money and violence.',
   'popularity': 78.107,
   'poster_path': '/8oiMFMarbRpcusASIX4cjVXoZKI.jpg',
   'release_date': '2020-01-27',
   'title': 'Charm City Kings',
   'video': False,
   'vote_average': 7.9,
   'vote_count': 321},
  {'adult': False,
   'backdrop_path': '/uozb2VeD87YmhoUP1RrGWfzuCrr.jpg',
   'genre_ids': [28, 80],
   'id': 495764,
   'original_language': 'en',
   'original_title': 'Birds of Prey (and the Fantabulous Emancipation of One Harley Quinn)',
   'overview': 'Harley Quinn joins forces with a singer, an assassin and a police detective to help a young girl who had a hit placed on her after she stole a rare diamond from a crime lord.',
   'popularity': 90.12,
   'poster_path': '/h4VB6m0RwcicVEZvzftYZyKXs6K.jpg',
   'release_date': '2020-02-05',
   'title': 'Birds of Prey (and the Fantabulous Emancipation of One Harley Quinn)',
   'video': False,
   'vote_average': 7,
   'vote_count': 8968},
  {'adult': False,
   'backdrop_path': '/pQdZmXq0vvKP1RYUrDHQkzMlS4x.jpg',
   'genre_ids': [16, 28, 12, 14],
   'id': 571265,
   'original_language': 'ja',
   'original_title': 'デジモンアドベンチャー LAST EVOLUTION 絆',
   'overview': 'Tai is now a university student, living alone, working hard at school, and working every day, but with his future still undecided. Meanwhile, Matt and others continue to work on Digimon incidents and activities that help people with their partner Digimon. When an unprecedented phenomenon occurs, the DigiDestined discover that when they grow up, their relationship with their partner Digimon will come closer to an end.  As a countdown timer activates on the Digivice, they realize that the more they fight with their partner Digimon, the faster their bond breaks. Will they fight for others and lose their partner? The time to choose and decide is approaching fast. There is a short time before “chosen children” will become adults. This is the last adventure of Tai and Agumon.',
   'popularity': 87.424,
   'poster_path': '/z3l5iwWQLxcInVnNkC8k8hxqZ60.jpg',
   'release_date': '2020-02-21',
   'title': 'Digimon Adventure: Last Evolution Kizuna',
   'video': False,
   'vote_average': 8.1,
   'vote_count': 174},
  {'adult': False,
   'backdrop_path': '/3N316jUSdhvPyYTW29G4v9ebbcS.jpg',
   'genre_ids': [53, 28, 80],
   'id': 38700,
   'original_language': 'en',
   'original_title': 'Bad Boys for Life',
   'overview': 'Marcus and Mike are forced to confront new threats, career changes, and midlife crises as they join the newly created elite team AMMO of the Miami police department to take down the ruthless Armando Armas, the vicious leader of a Miami drug cartel.',
   'popularity': 78.855,
   'poster_path': '/y95lQLnuNKdPAzw9F9Ab8kJ80c3.jpg',
   'release_date': '2020-01-15',
   'title': 'Bad Boys for Life',
   'video': False,
   'vote_average': 7.2,
   'vote_count': 7122},
  {'adult': False,
   'backdrop_path': '/isBjNHBblzxrzHrAtRbjgkYzAut.jpg',
   'genre_ids': [10749, 18],
   'id': 664413,
   'original_language': 'pl',
   'original_title': '365 dni',
   'overview': 'A woman falls victim to a dominant mafia boss, who imprisons her and gives her one year to fall in love with him.',
   'popularity': 70.073,
   'poster_path': '/6KwrHucIE3CvNT7kTm2MAlZ4fYF.jpg',
   'release_date': '2020-02-07',
   'title': '365 Days',
   'video': False,
   'vote_average': 7.1,
   'vote_count': 7500},
  {'adult': False,
   'backdrop_path': '/rc8WAwoTTZ5HDUDBiKhIohbl57A.jpg',
   'genre_ids': [27],
   'id': 575088,
   'original_language': 'ru',
   'original_title': 'Яга. Кошмар тёмного леса',
   'overview': 'The young family who moved to a new apartment on the outskirts of the city. The nanny hired by them for the newborn daughter quickly gained confidence. However, the older boy, Egor, talks about the frightening behavior of a woman, but his parents do not believe him. The surveillance cameras installed by the father for comfort only confirm everything is in order. Then one day, Egor, returning home, finds no trace of either the nanny or the little sister, and the parents are in a strange trance and do not even remember that they had a daughter. Then Egor, together with his friends, goes in search, during which it turns out that the nanny is an ancient Slavic demon, popularly known as Baba Yaga.',
   'popularity': 58.341,
   'poster_path': '/8m5HTXzwewlfXhtZtLlLts53YTW.jpg',
   'release_date': '2020-02-27',
   'title': 'Baba Yaga: Terror of the Dark Forest',
   'video': False,
   'vote_average': 5.9,
   'vote_count': 186},
  {'adult': False,
   'backdrop_path': '/cpTjuXuNTEDJc7qJEiUbUGcn85F.jpg',
   'genre_ids': [27, 35],
   'id': 664168,
   'original_language': 'en',
   'original_title': 'Fat Ass Zombies',
   'overview': 'In a sleepy town, one man, a wannabe horror film director is about to have his life and the world he knows change forever. Finally, he gets the big break he has been waiting a lifetime for, but its not Hollywood knocking on his door.',
   'popularity': 54.687,
   'poster_path': '/btrers8SNujMJhxjLvjh7AJpN3T.jpg',
   'release_date': '2020-02-18',
   'title': 'Fat Ass Zombies',
   'video': False,
   'vote_average': 4.9,
   'vote_count': 47},
  {'adult': False,
   'backdrop_path': '/AgkGh4epJyhvs9JqSEUVABz1gJh.jpg',
   'genre_ids': [10751, 14, 12],
   'id': 448119,
   'original_language': 'en',
   'original_title': 'Dolittle',
   'overview': 'After losing his wife seven years earlier, the eccentric Dr. John Dolittle, famed doctor and veterinarian of Queen Victoria’s England, hermits himself away behind the high walls of Dolittle Manor with only his menagerie of exotic animals for company. But when the young queen falls gravely ill, a reluctant Dolittle is forced to set sail on an epic adventure to a mythical island in search of a cure, regaining his wit and courage as he crosses old adversaries and discovers wondrous creatures.',
   'popularity': 61.049,
   'poster_path': '/uoplwswBDy7gsOyrbGuKyPFoPCs.jpg',
   'release_date': '2020-01-01',
   'title': 'Dolittle',
   'video': False,
   'vote_average': 6.7,
   'vote_count': 3053},
  {'adult': False,
   'backdrop_path': '/v7eMYrYpcTJORioMKMgjnzyewWH.jpg',
   'genre_ids': [10749],
   'id': 679057,
   'original_language': 'ko',
   'original_title': '가슴 큰 태희',
   'overview': 'Cha-wook and Min-joo are about to get married. Cha-wook proposes a couple trip to Yong-woo’s wife who is his junior at work. Ji-yeon doesn’t like uncomfortable trips but Yong-woo’s boss forced her. The trip has been decided and Cha-wook plans to stay with Ji-yeon, who he’s been eyeing. Min-joo is forced to join. On the day of the trip, Min-joo finally tells everything to Ji-yeon and Ji-yeon decides to use Cha-wook.',
   'popularity': 39.076,
   'poster_path': '/aKoGgpKn6N04kWQp03LSAweN3dn.jpg',
   'release_date': '2020-02-27',
   'title': 'Bosomy Tae-hee',
   'video': False,
   'vote_average': 8.3,
   'vote_count': 3},
  {'adult': False,
   'backdrop_path': '/bpHseZ8Vwh3nk7cowKxQ68Dm2Xq.jpg',
   'genre_ids': [53, 18, 28],
   'id': 616803,
   'original_language': 'sv',
   'original_title': 'Breaking Surface',
   'overview': 'Two Swedish/Norwegian half sisters go on a winter diving trip in Northern Norway, when they get trapped after a rockslide.',
   'popularity': 37.044,
   'poster_path': '/zlOvKg5WkXcwcmqy2KaiXoXLAky.jpg',
   'release_date': '2020-02-14',
   'title': 'Breaking Surface',
   'video': False,
   'vote_average': 6.8,
   'vote_count': 309},
  {'adult': False,
   'backdrop_path': '/kLsrE6q4ld144ECBkydZ4dV8t9T.jpg',
   'genre_ids': [27],
   'id': 648990,
   'original_language': 'es',
   'original_title': 'La casa',
   'overview': 'Responding to an urgent call for help, a police officer becomes trapped by the evil spirits of a cursed house.',
   'popularity': 43.223,
   'poster_path': '/fvTGWaQejnHQBZbEOrdbb38NBTC.jpg',
   'release_date': '2020-01-30',
   'title': 'La Casa',
   'video': False,
   'vote_average': 6.3,
   'vote_count': 77},
  {'adult': False,
   'backdrop_path': '/tcrNJfyNEIqaBR8Ogkgnq5xQJnf.jpg',
   'genre_ids': [10749, 18],
   'id': 342470,
   'original_language': 'en',
   'original_title': 'All the Bright Places',
   'overview': 'Two teens facing personal struggles form a powerful bond as they embark on a cathartic journey chronicling the wonders of Indiana.',
   'popularity': 44.021,
   'poster_path': '/4SafxuMKQiw4reBiWKVZJpJn80I.jpg',
   'release_date': '2020-02-28',
   'title': 'All the Bright Places',
   'video': False,
   'vote_average': 7.7,
   'vote_count': 2488},
  {'adult': False,
   'backdrop_path': '/yFRpUmsreYO5Bc0HVBTsJsHIIox.jpg',
   'genre_ids': [12, 10751, 18],
   'id': 481848,
   'original_language': 'en',
   'original_title': 'The Call of the Wild',
   'overview': 'Buck is a big-hearted dog whose blissful domestic life is turned upside down when he is suddenly uprooted from his California home and transplanted to the exotic wilds of the Yukon during the Gold Rush of the 1890s. As the newest rookie on a mail delivery dog sled team—and later its leader—Buck experiences the adventure of a lifetime, ultimately finding his true place in the world and becoming his own master.',
   'popularity': 52.411,
   'poster_path': '/33VdppGbeNxICrFUtW2WpGHvfYc.jpg',
   'release_date': '2020-02-19',
   'title': 'The Call of the Wild',
   'video': False,
   'vote_average': 7.6,
   'vote_count': 2963},
  {'adult': False,
   'backdrop_path': '/aiQICxiWNcOsJruYxdPuhb6WtWu.jpg',
   'genre_ids': [9648, 18, 27, 12, 16],
   'id': 658558,
   'original_language': 'ja',
   'original_title': '劇場版 巨蟲列島',
   'overview': "After an airplane crash during a school trip, Oribe Mutsumi and her classmates were stranded on a seemingly deserted island. Mutsumi found the other survivors, and used her wilderness knowledge to help them. She expects that they will be rescued in about three days, which doesn't seem so long to endure. However, she didn't account for the fact that the island is populated with gigantic killer insects. Her knowledge of butterflies, wasps, and more may be the only thing that will help any of her classmates survive to be rescued!",
   'popularity': 58.747,
   'poster_path': '/uJFki1BLHvEi4gaPCJvy9SZQZpx.jpg',
   'release_date': '2020-01-10',
   'title': 'The Island of Giant Insects',
   'video': False,
   'vote_average': 4.4,
   'vote_count': 15},
  {'adult': False,
   'backdrop_path': '/xFxk4vnirOtUxpOEWgA1MCRfy6J.jpg',
   'genre_ids': [10751, 16, 12, 35, 14],
   'id': 508439,
   'original_language': 'en',
   'original_title': 'Onward',
   'overview': 'In a suburban fantasy world, two teenage elf brothers embark on an extraordinary quest to discover if there is still a little magic left out there.',
   'popularity': 44.276,
   'poster_path': '/f4aul3FyD3jv3v4bul1IrkWZvzq.jpg',
   'release_date': '2020-02-29',
   'title': 'Onward',
   'video': False,
   'vote_average': 7.8,
   'vote_count': 5166},
  {'adult': False,
   'backdrop_path': '/sCtJkYwBrJm8mygRrDGyluf1gSV.jpg',
   'genre_ids': [27, 878, 53],
   'id': 736509,
   'original_language': 'en',
   'original_title': 'Intersect',
   'overview': 'A group of young Miskatonic University scientists invent a time machine, only to learn that they are being manipulated by mysterious, unseen forces from another dimension.',
   'popularity': 36.728,
   'poster_path': '/e6hgmD0P133bW5EH1kfhscwXN2a.jpg',
   'release_date': '2020-02-12',
   'title': 'Intersect',
   'video': False,
   'vote_average': 5.7,
   'vote_count': 48},
  {'adult': False,
   'backdrop_path': '/1umKVgbjFG5Cho5ZKTpcvRFJjuJ.jpg',
   'genre_ids': [35, 53, 80],
   'id': 609242,
   'original_language': 'es',
   'original_title': 'El robo del siglo',
   'overview': 'In 2006, a group of thieves performed what is considered one of the most famous and smart bank heists in the history of Argentina. How they robbed the Rio bank is as surprising as what happened afterwards. This is their story.',
   'popularity': 37.585,
   'poster_path': '/1zL4VCVin4S8kOXhszMDqfwWPCM.jpg',
   'release_date': '2020-01-16',
   'title': 'The Heist of the Century',
   'video': False,
   'vote_average': 7.8,
   'vote_count': 643}],
 'total_pages': 253,
 'total_results': 5058}

In [36]:
pd.DataFrame(data)

,page,results,total_pages,total_results
0,1,"{'adult': False, 'backdrop_path': '/yy85YPsJEV...",253,5058
1,1,"{'adult': False, 'backdrop_path': '/stmYfCUGd8...",253,5058
2,1,"{'adult': False, 'backdrop_path': '/ySHlkHDbXz...",253,5058
3,1,"{'adult': False, 'backdrop_path': '/tmS9oXeMVs...",253,5058
4,1,"{'adult': False, 'backdrop_path': '/uozb2VeD87...",253,5058
5,1,"{'adult': False, 'backdrop_path': '/pQdZmXq0vv...",253,5058
6,1,"{'adult': False, 'backdrop_path': '/3N316jUSdh...",253,5058
7,1,"{'adult': False, 'backdrop_path': '/isBjNHBblz...",253,5058
8,1,"{'adult': False, 'backdrop_path': '/rc8WAwoTTZ...",253,5058
9,1,"{'adult': False, 'backdrop_path': '/cpTjuXuNTE...",253,5058
10,1,"{'adult': False, 'backdrop_path': '/AgkGh4epJy...",253,5058
11,1,"{'adult': False, 'backdrop_path': '/v7eMYrYpcT...",253,5058
12,1,"{'adult': False, 'backdrop_path': '/bpHseZ8Vwh...",253,5058
13,1,"{'adult': False, 'backdrop_path': '/kLsrE6q4ld...",253,5058
14,1,"{'adult': False, 'backdrop_path': '/tcrNJfyNEI...",253,5058
15,1,"{'adult': False, 'backdrop_path': '/yFRpUmsreY...",253,5058
16,1,"{'adult': False, 'backdrop_path': '/aiQICxiWNc...",253,5058
17,1,"{'adult': False, 'backdrop_path': '/xFxk4vnirO...",253,5058
18,1,"{'adult': False, 'backdrop_path': '/sCtJkYwBrJ...",253,5058
19,1,"{'adult': False, 'backdrop_path': '/1umKVgbjFG...",253,5058

In [37]:
pd.DataFrame(data["results"])

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/yy85YPsJEVxCy97A89cAwdsCUXa.jpg,"[18, 10749]",677115,ko,비뇨기과 여의사들 2,Jin Hee is a female urologist who runs a urolo...,150.882,/uksxhYz0Xc7c5AIjoU205XXEVk8.jpg,2020-02-20,Female Urologists 2,False,7.3,5
1,False,/stmYfCUGd8Iy6kAMBr6AmWqx8Bq.jpg,"[28, 878, 35, 10751]",454626,en,Sonic the Hedgehog,"Powered with incredible speed, Sonic The Hedge...",125.874,/aQvJ5WPzZgYVDrxLX4R6cLJCEaQ.jpg,2020-02-12,Sonic the Hedgehog,False,7.4,8281
2,False,/ySHlkHDbXztjdjRJ0pZN7FXRnaW.jpg,"[16, 12, 28, 14]",631132,ja,ゴブリンスレイヤー -GOBLIN'S CROWN-,Goblin Slayer and his party head up to the sno...,101.789,/oyDaF4za9C9GxfYSyZUmj2aZGJT.jpg,2020-02-01,Goblin Slayer: Goblin's Crown,False,7.6,171
3,False,/tmS9oXeMVs6njcxndDKsjJSF02H.jpg,[18],552532,en,Charm City Kings,Mouse desperately wants to join The Midnight C...,78.107,/8oiMFMarbRpcusASIX4cjVXoZKI.jpg,2020-01-27,Charm City Kings,False,7.9,321
4,False,/uozb2VeD87YmhoUP1RrGWfzuCrr.jpg,"[28, 80]",495764,en,Birds of Prey (and the Fantabulous Emancipatio...,"Harley Quinn joins forces with a singer, an as...",90.120,/h4VB6m0RwcicVEZvzftYZyKXs6K.jpg,2020-02-05,Birds of Prey (and the Fantabulous Emancipatio...,False,7.0,8968
5,False,/pQdZmXq0vvKP1RYUrDHQkzMlS4x.jpg,"[16, 28, 12, 14]",571265,ja,デジモンアドベンチャー LAST EVOLUTION 絆,"Tai is now a university student, living alone,...",87.424,/z3l5iwWQLxcInVnNkC8k8hxqZ60.jpg,2020-02-21,Digimon Adventure: Last Evolution Kizuna,False,8.1,174
6,False,/3N316jUSdhvPyYTW29G4v9ebbcS.jpg,"[53, 28, 80]",38700,en,Bad Boys for Life,Marcus and Mike are forced to confront new thr...,78.855,/y95lQLnuNKdPAzw9F9Ab8kJ80c3.jpg,2020-01-15,Bad Boys for Life,False,7.2,7122
7,False,/isBjNHBblzxrzHrAtRbjgkYzAut.jpg,"[10749, 18]",664413,pl,365 dni,"A woman falls victim to a dominant mafia boss,...",70.073,/6KwrHucIE3CvNT7kTm2MAlZ4fYF.jpg,2020-02-07,365 Days,False,7.1,7500
8,False,/rc8WAwoTTZ5HDUDBiKhIohbl57A.jpg,[27],575088,ru,Яга. Кошмар тёмного леса,The young family who moved to a new apartment ...,58.341,/8m5HTXzwewlfXhtZtLlLts53YTW.jpg,2020-02-27,Baba Yaga: Terror of the Dark Forest,False,5.9,186
9,False,/cpTjuXuNTEDJc7qJEiUbUGcn85F.jpg,"[27, 35]",664168,en,Fat Ass Zombies,"In a sleepy town, one man, a wannabe horror fi...",54.687,/btrers8SNujMJhxjLvjh7AJpN3T.jpg,2020-02-18,Fat Ass Zombies,False,4.9,47
10,False,/AgkGh4epJyhvs9JqSEUVABz1gJh.jpg,"[10751, 14, 12]",448119,en,Dolittle,"After losing his wife seven years earlier, the...",61.049,/uoplwswBDy7gsOyrbGuKyPFoPCs.jpg,2020-01-01,Dolittle,False,6.7,3053
11,False,/v7eMYrYpcTJORioMKMgjnzyewWH.jpg,[10749],679057,ko,가슴 큰 태희,Cha-wook and Min-joo are about to get married....,39.076,/aKoGgpKn6N04kWQp03LSAweN3dn.jpg,2020-02-27,Bosomy Tae-hee,False,8.3,3
12,False,/bpHseZ8Vwh3nk7cowKxQ68Dm2Xq.jpg,"[53, 18, 28]",616803,sv,Breaking Surface,Two Swedish/Norwegian half sisters go on a win...,37.044,/zlOvKg5WkXcwcmqy2KaiXoXLAky.jpg,2020-02-14,Breaking Surface,False,6.8,309
13,False,/kLsrE6q4ld144ECBkydZ4dV8t9T.jpg,[27],648990,es,La casa,"Responding to an urgent call for help, a polic...",43.223,/fvTGWaQejnHQBZbEOrdbb38NBTC.jpg,2020-01-30,La Casa,False,6.3,77
14,False,/tcrNJfyNEIqaBR8Ogkgnq5xQJnf.jpg,"[10749, 18]",342470,en,All the Bright Places,Two teens facing personal struggles form a pow...,44.021,/4SafxuMKQiw4reBiWKVZJpJn80I.jpg,2020-02-28,All the Bright Places,False,7.7,2488
15,False,/yFRpUmsreYO5Bc0HVBTsJsHIIox.jpg,"[12, 10751, 18]",481848,en,The Call of the Wild,Buck is a big-hearted dog whose blissful domes...,52.411,/33VdppGbeNxICrFUtW2WpGHvfYc.jpg,2020-02-19,The Call of the Wild,False,7.6,2963
16,False,/aiQICxiWNcOsJruYxdPuhb6WtWu.jpg,"[9648, 18, 27, 12, 16]",658558,ja,劇場版 巨蟲列島,"After an airplane crash during a school trip, ...",58.747,/uJFki1BLHvEi4gaPCJvy9SZQZpx.jpg,2020-01-10,The Island of Giant Insects,False,4.4,15
17,False,/xFxk4vnirOtUxpOEWgA1MCRfy6J.jpg,"[10751, 16, 12, 35, 14]",508439,en,Onward,"In a suburban fantasy world, two teenage elf b...",44.276,/f4aul3FyD3jv3v4bul1IrkWZvzq.jpg,2020-02-29,Onward,False,7.8,5166
18,False,/sCtJkYwBrJm8mygRrDGyluf1gSV.jpg,"[27, 878, 53]",736509,en,Intersect,A group of young Miskatonic University scienti...,36.728,/e6hgmD0P133bW5EH1kfhscwXN2a.jpg,2020-02-12,Intersect,False,5.7,48
19,False,/1umKVgbjFG5Cho5ZKTpcvRFJjuJ.jpg,"[35, 53, 80]",609242,es,El robo del siglo,"In 2006, a group of thieves performed what is ...",37.585,/1zL4VCVin4S8kOXhszMDqfwWPCM.jpg,2020-01-16,The Heist of the Century,False,7.8,643

##  Importing and Saving the Movies Dataset (Best Practice)

In [38]:
import pandas as pd
import requests
import json
pd.options.display.max_columns = 30

In [39]:
movie_id = [0, 299534, 19995, 140607, 299536, 597, 135397,
            420818, 24428, 168259, 99861, 284054, 12445,
            181808, 330457, 351286, 109445, 321612, 260513]

In [40]:
basic_url = 'https://api.themoviedb.org/3/movie/{}?{}'

In [41]:
json_list = []
for movie in movie_id:
    url = basic_url.format(movie, api_key)
    r = requests.get(url)
    if r.status_code != 200:
        continue
    else:
        data = r.json()
        json_list.append(data) 
df = pd.DataFrame(json_list)

In [42]:
requests.get(basic_url.format(0, api_key)).status_code

404

In [43]:
df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",356000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",https://www.marvel.com/movies/avengers-endgame,299534,tt4154796,en,Avengers: Endgame,After the devastating events of Avengers: Infi...,183.509,/or06FN3Dka5tukK1e9sl16pB3iy.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-04-24,2797800564,181,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Avenge the fallen.,Avengers: Endgame,False,8.278,21750
1,False,/Yc9q6QuWrMp9nuDm5R8ExNqbEq.jpg,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://www.avatar.com/movies/avatar,19995,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",641.325,/jRXYjXNq0Cs2TcJjLkki24MLp7u.jpg,"[{'id': 25, 'logo_path': '/qZCc1lty5FzX30aOCVR...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-12-10,2847246203,162,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Enter the world of Pandora.,Avatar,False,7.517,26015
2,False,/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,63.835,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.315,17325
3,False,/mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",https://www.marvel.com/movies/avengers-infinit...,299536,tt4154756,en,Avengers: Infinity War,As the Avengers and their allies have continue...,310.526,/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-04-25,2046239637,149,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,An entire universe. Once and for all.,Avengers: Infinity War,False,8.266,25381
4,False,/3WjbxaqYB4vAbdUfdr5vbglD2JZ.jpg,None,200000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",,597,tt0120338,en,Titanic,101-year-old Rose DeWitt Bukater tells the sto...,141.597,/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg,"[{'id': 4, 'logo_path': '/gz66EfNoYPqHTYI4q9UE...","[{'iso_3166_1': 'US', 'name': 'United States o...",1997-11-18,2187463944,194,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Nothing on Earth could come between them.,Titanic,False,7.876,21508
5,False,/dF6FjTZzRTENfB4R17HDN20jLT2.jpg,"{'id': 328, 'name': 'Jurassic Park Collection'...",150000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.jurassicworld.com/,135397,tt0369610,en,Jurassic World,Twenty-two years after the events of Jurassic ...,111.838,/rhr4y79GpxQF9IsfJItRXVaoGs4.jpg,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-06-06,1671713208,124,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The park is open.,Jurassic World,False,6.675,18436
6,False,/1TUg5pO1VZ4B0Q1amk3OlXvlpXV.jpg,"{'id': 762512, 'name': 'The Lion King (Reboot)...",260000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",https://movies.disney.com/the-lion-king-2019,420818,tt6105098,en,The Lion King,"Simba idolizes his father, King Mufasa, and ta...",161.207,/dzBtMocZuJbjLOXvrl4zGYigDzh.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-07-12,1667635327,118,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The King has Returned.,The Lion King,False,7.140,8640
7,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,201.794,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-04-25,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.706,27488
8,False,/cHkhb5A4gQRK6zs6Pv7zorHs8Nk.jpg,"{'id': 9485, 'name': 'The Fast and the Furious...",190000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",https://www.thefastsaga.com/fast-saga/ff7,168259,tt2820852,en,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...,103.200,/ktofZ9Htrjiy0P6LEowsDaxd3Ri.jpg,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-04-01,1515047671,137,"[{'english_name': 'Arabic', 'iso_639_1': 'ar',...",Released,Vengeance hits home,Furious 7,False,7.239,9287
9,False,/6YwkGolwdOMNpbTOmLjoehlVWs5.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",365000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,tt2395427,en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,169.308,/4ssDuvEDkSArWEdyBl2X5EHvYKU.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-04-22,1405403694,141,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A New Age Has Come.,Avengers: Age of Ultron,False,7.290,20324
10,False,/6ELJEzQJ3Y45HczvreC3dg0GV5R.jpg,"{'id': 529892, 'name': 'Black Panther Collecti...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://www.marvel.com/movies/black-panther,284054,tt1825683,en,Black Panther,"King T'Challa returns home to the reclusive, t...",102.310,/uxzzxijgPIY7slzFvMotPv8wjKA.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-02-13,1347597973,135,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Long live the king.,Black Panther,False,7.396,19494
11,False,/n5A7brJCjejceZmHyujwUTVgQNC.jpg,"{'id': 1241, 'name': 'Harry Potter Collection'...",125000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",https://www.warnerbros.com/movies/harry-potter...,12445,tt1201607,en,Harry Potter and the Deathly Hallows: Part 2,"Harry, Ron and Hermione continue their quest t...",160.495,/c54HpQmuwXjHq2C9wmoACjxoom3.jpg,"[{'id': 174, 'logo_path': '/IuAlhI9eVC9Z8UQWOI...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2011-07-07,1341511219,130,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,It all ends here.,Harry Potter and the Deathly Hallows: Part 2,False,8.119,17693
12,False,/5Iw7zQTHVRBOYpA0V6z0yypOPZh.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",200000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",https://www.starwars.com/films/star-wars-episo...,181808,tt2527336,en,Star Wars: The Last Jedi,Rey develops her newly discovered abilities wi...,58.877,/ySaaKHOLAQU5HoZqWmzDIj1VvZ1.jpg,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017-12-13,1332698830,152,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Darkness rises... and light to meet it,Star Wars: The Last Jedi,False,6.857,13327
13,False,/AoSZyb37ljMAxw0RdeQEBHKtgcc.jpg,"{'id': 386382, 'name': 'Frozen Collection', 'p...",150000000,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",https://movies.disney.com/frozen-2,330457,tt4520988,en,Frozen II,"Elsa, Anna, Kristoff and Olaf head far into th...",146.194,/mINJaa34MtknCYl5AjtNJzWj8cD.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-11-20,1450026933,103,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The past is not what it seems.,Frozen II,False,7.299,8401
14,False,/6WA9stUMbIkEPxn3D5SWlA8FIi7.jpg,"{'id': 328, 'name': 'Jurassic Park Collection'...",170000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.jurassicworld.com,351286,tt4881806,en,Jurassic World: Fallen Kingdom,Three years after the demise of Jurassic World...,93.335,/c9XxwwhPHdaImA2f1WEfEsbhaFB.jpg,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-06-06,1310466296,129,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The park is gone.,Jurassic World: Fallen Kingdom,False,6.561,10210
15,False,/fydUcbkqLyESCFa9U5XKqi8dIVj.jpg,"{'id': 386382, 'name': 'Frozen Collection', 'p...",150000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://movies.disney.com/frozen,109445,tt2294629,en,Frozen,Young princess Anna of Arendelle dreams about ...,143.723,/kgwjIb2JDHRhNk13lmSxiClFjVk.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2013-11-20,1274219009,102,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Only the act of true love will thaw a frozen h...,Frozen,False,7.255,14532
16,False,/phhbtV5BEdn4TYLTMKFwYz2VSNl.jpg,None,160000000,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",http://movies.disney.com/beauty-and-the-beast-...,321612,tt2771200,en,Beauty and the Beast,A live-action adaptation of Disney's version o...,96.675,/hKegSKIDep2ewJWPUQD7u0KqFIp.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017-03-16,1263521126,129,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Be our guest.,Beauty and the Beast,False,6.969,14277
17,False,/mabuNsGJgRuCTuGqjFkWe1xdu19.jpg,"{'id': 468222, 'name': 'The Incredibles Collec...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://movies.disney.com/incredibles-2,260513,tt3606756,en,Incredibles 2,Elastigirl springs into action to save the day...,106.630,/aTbRJHCrQwceSS5b8LYj7hC654I.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-06-14,1242805359,118,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Back to work.,Incredibles 2,False,7.500,11209

In [44]:
df = df.loc[:, ["title", "id", "revenue", "genres", "belongs_to_collection", "runtime"]].sort_values(by = "revenue",
                                                                                                ascending = False)

In [45]:
df

,title,id,revenue,genres,belongs_to_collection,runtime
1,Avatar,19995,2847246203,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
4,Titanic,597,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1667635327,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...","{'id': 762512, 'name': 'The Lion King (Reboot)...",118
7,The Avengers,24428,1518815515,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
13,Frozen II,330457,1450026933,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",103
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1347597973,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",135
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332698830,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
14,Jurassic World: Fallen Kingdom,351286,1310466296,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [46]:
df.to_json("movies.json", orient = "records")

In [47]:
with open("movies.json") as f:
    data = json.load(f)

In [49]:
pd.json_normalize(data)

,title,id,revenue,genres,runtime,belongs_to_collection.id,belongs_to_collection.name,belongs_to_collection.poster_path,belongs_to_collection.backdrop_path,belongs_to_collection
0,Avatar,19995,2847246203,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",162,87096.0,Avatar Collection,/gC3tW9a45RGOzzSh6wv91pFnmFr.jpg,/6qkJLRCZp9Y3ovXti5tSuhH0DpO.jpg,NaN
1,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",181,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
2,Titanic,597,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",194,NaN,NaN,NaN,NaN,NaN
3,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",136,10.0,Star Wars Collection,/gq5Wi7i4SF3lo4HHkJasDV95xI9.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
4,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",149,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",124,328.0,Jurassic Park Collection,/jcUXVtJ6s0NG0EaxllQCAUtqdr0.jpg,/njFixYzIxX8jsn6KMSEtAzi4avi.jpg,NaN
6,The Lion King,420818,1667635327,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",118,762512.0,The Lion King (Reboot) Collection,/dGpIRn4Nqi63JO1RlKxjcPbQSAw.jpg,/jIgM7YNVft0YGeXsqrh3oG5TWLx.jpg,NaN
7,The Avengers,24428,1518815515,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",143,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
8,Furious 7,168259,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",137,9485.0,The Fast and the Furious Collection,/yvr1Ziehgps1VJyug8nnezTJRJW.jpg,/gC9BUFiROWtaMsluGYziZ6lR4OJ.jpg,NaN
9,Frozen II,330457,1450026933,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",103,386382.0,Frozen Collection,/2DdKGQYzE6D7pSvvHvM9FRzTh5r.jpg,/6QonAoIN0jhWZZWZGJswSxHzUnU.jpg,NaN
10,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
11,Black Panther,284054,1347597973,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",135,529892.0,Black Panther Collection,/uVnN6KnfDuHiC8rsVsSc7kk0WRD.jpg,/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg,NaN
12,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",130,1241.0,Harry Potter Collection,/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg,/4gV0rKUjB1nLUdZB4zIltLvNZZr.jpg,NaN
13,Star Wars: The Last Jedi,181808,1332698830,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",152,10.0,Star Wars Collection,/gq5Wi7i4SF3lo4HHkJasDV95xI9.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
14,Jurassic World: Fallen Kingdom,351286,1310466296,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",129,328.0,Jurassic Park Collection,/jcUXVtJ6s0NG0EaxllQCAUtqdr0.jpg,/njFixYzIxX8jsn6KMSEtAzi4avi.jpg,NaN
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",102,386382.0,Frozen Collection,/2DdKGQYzE6D7pSvvHvM9FRzTh5r.jpg,/6QonAoIN0jhWZZWZGJswSxHzUnU.jpg,NaN
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",129,NaN,NaN,NaN,NaN,NaN
17,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",118,468222.0,The Incredibles Collection,/xMX1jZyObVeWUxDQmt53X6jzIO4.jpg,/6oi6V1O9MJRNnfV8E9JMntmFqBD.jpg,NaN

In [50]:
pd.json_normalize(data, "genres", "title")

       id             name                 title
0      28           Action                Avatar
1      12        Adventure                Avatar
2      14          Fantasy                Avatar
3     878  Science Fiction                Avatar
4      12        Adventure     Avengers: Endgame
..    ...              ...                   ...
57  10749          Romance  Beauty and the Beast
58     28           Action         Incredibles 2
59     12        Adventure         Incredibles 2
60     16        Animation         Incredibles 2
61  10751           Family         Incredibles 2

[62 rows x 3 columns]

# Importing and Saving the Movies Dataset (Real World Scenario)

In [51]:
df

,title,id,revenue,genres,belongs_to_collection,runtime
1,Avatar,19995,2847246203,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
4,Titanic,597,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1667635327,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...","{'id': 762512, 'name': 'The Lion King (Reboot)...",118
7,The Avengers,24428,1518815515,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
13,Frozen II,330457,1450026933,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",103
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1347597973,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",135
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332698830,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
14,Jurassic World: Fallen Kingdom,351286,1310466296,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [53]:
df.to_csv("movies_raw.csv", index = False)

In [54]:
df = pd.read_csv("movies_raw.csv")

In [55]:
df

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,194
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",NaN,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",NaN,129
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [56]:
df.genres[0]

"[{'id': 12, 'name': 'Adventure'}, {'id': 878, 'name': 'Science Fiction'}, {'id': 28, 'name': 'Action'}]"